main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  .doctors {
    min-height: 100vh;
    width: 100%;
    background-color: #d2c4ee;
    color: #242845;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito;

    .doctors-top {
      width: 90%;
      display: flex;
      justify-content: center;

      .doctor-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 1.1vw;
          background-color: #c7b1e0;
          border-radius: 50px;
          padding: 0 1vw;
        }

        h1 {
          font-family: Playfair;
          margin-top: 1vw;
          margin-bottom: 3vw;
        }

        h4 {
          font-size: 1.3vw;
          text-align: center;
        }
      }
    }

    .doctors-bottom {
      width: 90%;
      background-color: #c7b1e0;
      padding: 2vw;
      display: flex;
      gap: 5vw;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .doctors-bottom-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 4vw;

        .doctors-bottom-inner {
          display: flex;
          flex-direction: column;
          gap: 1vw;

          h2 {
            font-family: Playfair;
            font-size: 2vw;
          }

          h4,
          li {
            font-size: 1.1vw;
            font-weight: lighter;
          }
        }
      }

      .doctors-bottom-right {
        width: 35%;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        background-color: #d2c4ee;
        padding: 2vw;

        .appointment-form {
          display: flex;
          flex-direction: column;
          gap: 1.5vw;
          input,
          textarea {
            padding: 0.8vw;
            background-color: #c7b1e0;
            border: none;
            outline: none;
            font-family: Nunito;
          }

          button {
            padding: 0.8vw 1.8vw;
            background-color: #74609d;
            color: #fff;
            border: 1px solid #74609d;
            cursor: pointer;
            transition: 0.3s ease;
            font-family: Nunito;

            &:hover {
              background-color: transparent;
              color: #242845;
              border-color: #242845;
            }
          }
        }
      }
    }
  }
}
