main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    .facial-plastic {
        min-height: 100vh;
        width: 100%;
        background-color: #D2C4EE;
        color: #242845;
        padding: 4vw;
        font-family: Nunito;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vw;

        .facial-plastic-heading {
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1.5vw;

            h1 {
                font-family: Playfair;
                font-size: 3vw;
                font-weight: lighter;

                @media (max-width: 768px) {
                    font-size: 5.5vw;
                    width: 100%;
                }
            }

            h4 {
                font-size: 1.2vw;
                font-weight: lighter;

                @media (max-width: 768px) {
                    font-size: 3.5vw;
                }
            }
        }

        .facial-plastic-content {
            width: 100%;
            background-color: #e2d7fa;
            padding: 2vw;

            @media (max-width: 768px) {
                padding: 4vw;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 3vw;

                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 8vw;
                }

                li {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8vw;
                    background-color: #D2C4EE;
                    padding: 1.5vw;
                    border-radius: 1vw;
                    height: fit-content;

                    @media (max-width: 768px) {
                        width: 100%;
                        padding: 4vw;
                        gap: 4vw;
                    }

                    strong {
                        font-size: 1.4vw;
                        font-weight: bold;
                        color: #3C103F;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }

                    h4 {
                        font-size: 1.1vw;
                        font-weight: lighter;

                        @media (max-width: 768px) {
                            font-size: 3.5vw;
                        }
                    }

                    .plastic-images {
                        display: flex;
                        gap: 1vw;
                        flex-wrap: wrap;

                        img {
                            width: 100%;
                            max-width: 20vw;
                            border-radius: 6px;

                            @media (max-width: 768px) {
                                max-width: 50vw;
                            }
                        }

                        video {
                            width: 100%;
                            max-width: 20vw;
                            border-radius: 6px;

                            @media (max-width: 768px) {
                                max-width: 50vw;
                            }
                        }
                    }
                }
            }
        }
    }
}