nav {
    height: 17vh;
    width: 100%;
    background-color: #BCA6D5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    transition: width 1s ease;
    font-family: Nunito;
    position: relative;

    @media (max-width: 768px) {
        height: 15vh;

        &.open {
            height: 35vh;
        }
    }

    .logo {
        height: 7vw;
        width: 6vw;

        @media (max-width: 768px) {
            height: 15vw;
            width: 12vw;
        }
    }

    >img:nth-of-type(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 13vw;

        @media (max-width: 768px) {
            width: 28vw;
        }
    }

    .nav2 {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
        color: #242845;
        gap: 2.2vw;
        cursor: pointer;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            width: fit-content;
        }

        h4 {
            font-size: 1.1vw;
            transition: all ease 0.5s;

            &:hover {
                color: #F6F0F3;
            }

            @media (max-width: 768px) {
                display: none;
                font-size: 3vw;
                padding: 1vw 4vw;
            }
        }

        i {
            display: none;

            @media (max-width: 768px) {
                display: initial;
            }
        }

        .cb {
            background-color: #242845;
            border: 1px solid #242845;
            color: #F6F0F3;
            padding: 0.9vw 2vw;
            border-radius: 50px;
            font-family: Nunito;
            font-size: 1vw;
            font-weight: bold;
            transition: all ease 0.5s;
            cursor: pointer;

            &:hover {
                background-color: transparent;
                border: 1px solid #242845;
                color: #242845;
            }

            @media (max-width: 768px) {
                display: none;
                font-size: 3vw;
                padding: 1vw 4vw;
                width: 100%;
                text-align: center;
                border: none;
                background-color: transparent;
                color: #242845;
                padding: 0;
            }
        }
    }

    &.open {
        .nav2 {
            h4 {
                display: block;
            }

            .cb {
                display: block;
            }
        }
    }
}