nav {
    height: 20vh;
    width: 100%;
    background-color: #BBA1C2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    transition: width 1s ease;

    .logo {
        height: 9vw;
        width: 7vw;
    }

    img {
        width: 15vw;
    }

    .nav2 {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
        background-color: #3C103F;
        color: #F6F0F3;
        padding: 0.8vw 1.8vw;
        gap: 2vw;
        cursor: pointer;
        white-space: nowrap;
    }

    .nav-item {
        opacity: 1;
        pointer-events: auto;
        margin-left: 1vw;
    }

    .menu {
        display: block;
    }
}