nav {
    height: 20vh;
    width: 100%;
    background-color: #BBA1C2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    transition: width 1s ease;
    position: relative;

    .logo {
        height: 9vw;
        width: 7vw;
    }

    >img:nth-of-type(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 15vw;
    }

    .nav2 {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: fit-content;
        background-color: #3C103F;
        padding: 0.8vw 2vw;
        color: #F6F0F3;
        gap: 2.2vw;
        cursor: pointer;

        h4 {
            font-size: 1.2vw;
            transition: all ease 0.5s;

            &:hover {
                color: #E8C6D8;
            }
        }
    }
}