main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  .doctor-team {
    min-height: 100vh;
    width: 100%;
    background-color: #D2C4EE;
    color: #242845;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;

    @media (max-width: 768px) {
      gap: 6vw;
      padding: 8vw 4vw;
    }

    >h1 {
      font-size: 3vw;
      font-family: Playfair;
      font-weight: lighter;
      width: 40%;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 5.5vw;
        width: 100%;
      }
    }

    .categories-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10vw;
      padding-bottom: 4vw;

      .row-1,
      .row-2 {
        display: flex;
        width: 100%;

        @media (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }

        .category-group {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1vw;

          @media (max-width: 768px) {
            margin-top: 15vw;
            gap: 10vw;
          }

          h2 {
            font-size: 2vw;
            font-family: Playfair;
            width: 100%;
            text-align: center;
            margin-bottom: 1vw;

            @media (max-width: 768px) {
              font-size: 5vw;
            }
          }

          .team-cards {
            display: flex;
            flex-direction: column;
            gap: 5vw;
            width: 50%;

            @media (max-width: 768px) {
              gap: 10vw;
              width: 90%;
            }

            .elem {
              width: 100%;
              height: fit-content;
              position: relative;
              cursor: pointer;

              .doctor-info {
                position: relative;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #24284594;
                color: #F6F0F3;
                padding: 10px;
                text-align: center;
                pointer-events: none;
                z-index: 2;

                @media (max-width: 768px) {
                  opacity: 1 !important;
                  transform: translateY(0) !important;
                }
              }
            }
          }
        }
      }

      .row-3 {
        width: 100%;
        display: flex;
        align-self: flex-start;

        @media (max-width: 768px) {
          width: 90%;
          margin: 25vw auto;
        }

        .category-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2vw;

          @media (max-width: 768px) {
            gap: 10vw;
          }

          h2 {
            font-size: 2vw;
            font-family: Playfair;
            font-weight: 600;
            width: 100%;
            text-align: center;
            margin-bottom: 1vw;

            @media (max-width: 768px) {
              font-size: 5vw;
              margin-bottom: 4vw;
            }
          }

          .team-cards {
            display: flex;
            gap: 10vw;
            width: 100%;

            @media (max-width: 768px) {
              flex-direction: column;
              gap: 15vw;
            }

            .elem {
              width: 100%;
              height: fit-content;
              position: relative;
              cursor: pointer;

              .doctor-info {
                position: relative;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #24284594;
                color: #F6F0F3;
                padding: 10px;
                text-align: center;
                pointer-events: none;
                z-index: 2;

                @media (max-width: 768px) {
                  opacity: 1 !important;
                  transform: translateY(0) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}